In [2]:
%reload_ext autoreload
%autoreload 2

from helpers import Relative, Choise
from methods import Winning
import numpy as np
import pandas as pd

In [18]:
# 参照:2013年9月20日名古屋競馬1レース

tansyo = np.array([14.7, 72.6, 1.4, 2.3, 151.8, 18.0, 66.8])
umatan1 = np.array([np.nan, 347.2, 37.4, 54.0, 662.7, 169.6, 607.5])
umatan2 = np.array([455.6, np.nan, 177.8, 197.1, 1457.9, 331.4, 2429.8])
umatan3 = np.array([23.0, 86.8, np.nan, 5.4, 50.7, 13.0, 177.8])
umatan4 = np.array([10.3, 49.3, 1.9, np.nan, 90.0, 5.9, 123.6])
umatan5 = np.array([1214.9, 1457.9, 74.4, 455.6, np.nan, 560.8, 3644.7])
umatan6 = np.array([119.5, 347.2, 27.6, 43.2, 486.0, np.nan, 455.6])
umatan7 = np.array([1041.4, 2429.8, 1214.9, 911.2, 3644.7, 911.2, np.nan])
umatan = [umatan1, umatan2, umatan3, umatan4, umatan5, umatan6, umatan7]

dic = {'単勝':tansyo}
for i in range(len(tansyo)):
    dic[str(i+1)] = umatan[i]

df = pd.DataFrame(dic, index = [str(i+1) for i in range(len(tansyo))])
df

      単勝      1       2      3      4       5      6       7
1   14.7   None   455.6   23.0   10.3  1214.9  119.5  1041.4
2   72.6  347.2     NaN   86.8   49.3  1457.9  347.2  2429.8
3    1.4   37.4   177.8    NaN    1.9    74.4   27.6  1214.9
4    2.3     54   197.1    5.4    NaN   455.6   43.2   911.2
5  151.8  662.7  1457.9   50.7   90.0     NaN  486.0  3644.7
6   18.0  169.6   331.4   13.0    5.9   560.8    NaN   911.2
7   66.8  607.5  2429.8  177.8  123.6  3644.7  455.6     NaN

In [19]:
re_df = Relative(df).sum_odds()
re_df

       単勝        馬単合成           差
馬番
1    14.7   17.486196    2.786196
2    72.6   58.796733  -13.803267
3     1.4    2.920088    1.520088
4     2.3    1.201374   -1.098626
5   151.8   52.076994  -99.723006
6    18.0   13.354534   -4.645466
7    66.8  214.399308  147.599308

In [20]:
Choise(re_df).combine()

['1', '3', ('1', '3')]

In [28]:
Wi = Winning(df['単勝'], df['3'])
model = Wi.model_0()
result = Wi.result(model)
print(result[1])
print(np.sum(result[0]['ベット(枚)']))
result[0]

Solved
48.0

       オッズ        確率  ベット(枚)  払い戻し金(円)    差額(円)
馬番
1     14.7  0.054422     4.0    5880.0   1080.0
2     72.6  0.011019     1.0    7260.0   2460.0
4      2.3  0.347826    20.0    4600.0   -200.0
5    151.8  0.005270     1.0   15180.0  10380.0
6     18.0  0.044444     3.0    5400.0    600.0
7     66.8  0.011976     1.0    6680.0   1880.0
3-1   23.0  0.072562     2.0    4600.0   -200.0
3-2   86.8  0.014692     1.0    8680.0   3880.0
3-4    5.4  0.463768     9.0    4860.0     60.0
3-5   50.7  0.007027     1.0    5070.0    270.0
3-6   13.0  0.059259     4.0    5200.0    400.0
3-7  177.8  0.015968     1.0   17780.0  12980.0

In [29]:
Wi = Winning(df['単勝'], df['1'], df['3'])
model = Wi.model_0()
result = Wi.result(model)
print(result[1])
print(np.sum(result[0]['ベット(枚)']))
result[0]

Solved
68.0

       オッズ        確率  ベット(枚) 払い戻し金(円)  差額(円)
馬番
2     72.6  0.011019     1.0     7260    460
4      2.3  0.347826    29.0     6670   -130
5    151.8  0.005270     1.0    15180   8380
6       18  0.044444     4.0     7200    400
7     66.8  0.011976     1.0     6680   -120
1-2  347.2  0.000634     1.0    34720  27920
1-3   37.4  0.032888     2.0     7480    680
1-4     54  0.020019     2.0    10800   4000
1-5  662.7  0.000303     1.0    66270  59470
1-6  169.6  0.002558     1.0    16960  10160
1-7  607.5  0.000689     1.0    60750  53950
3-1     23  0.072562     3.0     6900    100
3-2   86.8  0.014692     1.0     8680   1880
3-4    5.4  0.463768    12.0     6480   -320
3-5   50.7  0.007027     2.0    10140   3340
3-6     13  0.059259     5.0     6500   -300
3-7  177.8  0.015968     1.0    17780  10980

In [32]:
Wi = Winning(df['単勝'], df['1'], df['3'])
model = Wi.model_1(1000)
result = Wi.result(model)
print(result[1])
print(np.sum(result[0]['ベット(枚)']))
result[0]

Solved
1006.0

       オッズ        確率  ベット(枚)     払い戻し金(円)        差額(円)
馬番
2     72.6  0.011019    14.0       101640         1040
4      2.3  0.347826   435.0       100050         -550
5    151.8  0.005270     7.0       106260         5660
6       18  0.044444    56.0       100800          200
7     66.8  0.011976    15.0       100200         -400
1-2  347.2  0.000634     3.0       104160         3560
1-3   37.4  0.032888    27.0       100980          380
1-4     54  0.020019    19.0       102600         2000
1-5  662.7  0.000303    77.0  5.10279e+06  5.00219e+06
1-6  169.6  0.002558     6.0       101760         1160
1-7  607.5  0.000689     2.0       121500        20900
3-1     23  0.072562    44.0       101200          600
3-2   86.8  0.014692    12.0       104160         3560
3-4    5.4  0.463768   186.0       100440         -160
3-5   50.7  0.007027    20.0       101400          800
3-6     13  0.059259    77.0       100100         -500
3-7  177.8  0.015968     6.0       106680         6080